# .iml files
*.iml

## File-based project format:
*.ipr
*.iws
*.ids

#all files in .idea directory
.idea/

# IntelliJ
/out/

# Deployment properites
**/kmd-cluster-deployment/*.properties

### target directories
**/target/
**/logs/
**/log/

ignite.properties

*.log

